body {

    background-color: rgb(237, 213,133) ;
    height: 100vh;


}

@keyframes bubble {
to { transform: translateY(-5vh) scale(2);
     

}

}

.bubble { 
    height: 0.5em;
    width: 0.5cm;
    position: absolute;
    border-color: violet;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    transform: translateY(90vh);
    animation-name: bubble;
    animation-duration: 3s;
    animation-delay: 5ms;
    animation-timing-function: linear;

}