
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@500;600&display=swap');

* {

    padding:0;
    margin: 0;
    box-sizing: border-box;
}

.navbar-brand img {

  height: 100px;
}

#navbarNavAltMarkup {

    display: flex;
    justify-content: flex-end;
    font-family: "Alegreya";
    font-weight: 700;
    font-size: 1.2em;
    color: black;
}


#header-back  {
    background-image: url(bg-header.jpg);
    height: 100vh;
    /* paralax effect */
    background-attachment: fixed;
    background-size: cover;
}

.navbar  {

position: fixed;
width: 100vw;
opacity: 0.9;

}

#ambience {
background-image: url(ambiance.jpg);
background-size: cover;
height: 80vh;


}

p {

    font-family: "Alegreya";
    font-size: 1.2em;
}

h2  {

font-family: "Amatic SC";
font-weight: 700;
font-size: 3em;
text-align: center;

}


h2 span {

    display: block;

}

h2 span:nth-child(1) {
color: #33baaf;
font-size: 0.7em;
}


h2 span:nth-child(1)::before,
h2 span:nth-child(1)::after {

content: "-";
padding: 0.2em;

}

h2 span:nth-child(2) {

    color: #f6af33;
}